/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {


}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .section-table-cell {
    display: table-row;
    text-align: center;
  }
  .offer-countdown .button-area {
    text-align: center;
  }
  .testimonial .testimonial-details .single-testmonial .testmonial-text p {
    width: auto;
    font-size: 16px;
  }
  .countdown-area.section-table-cell > div {
  padding: 15px 0;
}
.countdown-title h2 {
  font-family: pacifico;
  font-size: 36px;
}
.offer-countdown {
  padding: 60px 0;
}
.our-product .products-area .single-product .product-details {
  float: none;
  width: 100%;
}
.our-product .products-area .single-product .product-thumb {
  float: none;
  padding-right: 0;
  width: 100%;
}
.our-product .products-area .single-product {
  text-align: center;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p::before,
.testimonial .testimonial-details .single-testmonial .testmonial-text p::after {
  display: none
}
}


/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.intro .intro-wrapper .text-area h1 {
 font-size: 38px;
}
.intro .intro-wrapper .text-area h3 {
  font-size: 28px;
}
.section-table-cell {
  display: table-row;
  text-align: center;
}
.cdown {
  margin-right: 0;
  width: 80px;
}
.time-count {
  font-size: 20px;
}
.cdown.second {
  display: none;
}
.offer-countdown .button-area {
  text-align: center;
}
.countdown-title h2 {
  font-size: 22px;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p {
  width: auto;
  font-size: 16px;
}
.section-title h2 {
  font-size: 35px;
  line-height: 46px;
}
.our-product .products-area .single-product .product-details {
  float: none;
  width: 100%;
}
.our-product .products-area .single-product .product-thumb {
  float: none;
  padding-right: 0;
  width: 100%;
}
.our-product .products-area .single-product {
  text-align: center;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p::before,
.testimonial .testimonial-details .single-testmonial .testmonial-text p::after {
  display: none
}
.newsletter .newsletter-form .email {
  margin: 15px 0;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.cdown.second {
  display: inline-block;
}
.intro .intro-wrapper .text-area h1 {
  font-size: 36px;
}
}
