/*----------------------------------------------------------------------------------

      CSS INDEX
      -----------------------------

            01. Theme Default CSS
            02. Preloader  CSS
            03. Header CSS
            04. Intro CSS
            05. countdown CSS
            06. Best service CSS
            07. Testimonial CSS
            08. Featured CSS
            09. Featured-product CSS
            10. Our-product CSS
            11. FAQ CSS
            12. Footer CSS
            13. Index-menu CSS

-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
a:focus {outline:0px solid;text-decoration: none;color:#fff}
a:active{text-decoration: none}
img {max-width:100%;height:auto}
p {margin:0 0 15px;}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-family: roboto slab
}
a {transition: all 0.3s ease 0s;text-decoration:none;}
a:hover {
  color: #ec4445;
  text-decoration: none;
}
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
body {font-family: 'Open Sans', sans-serif;}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.section-table {
  display: table;
  width: 100%;
}
.section-table-cell{display: table-cell;vertical-align: middle}
.page-wrapper {
  height: 100%;
}

.text-white{
  color:#fff;
}
section{
  padding: 60px 0;
}
/*----------------------------------------*/
/*  2.  Preloader  CSS
/*----------------------------------------*/
#preloader {
  position: fixed;
  left: 0; top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #66AD44
}
.preloader-wrapper {
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  margin: auto;
}
/*----------------------------------------*/
/*  3. Header CSS
/*----------------------------------------*/
header.scroll-header {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.4s ease 0s;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 0 41px -6px rgba(0,0,0,.2);
}
header.scroll-header.clse {
  opacity: 0;
  top:-60px;
  transition: .4s
}
header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  padding:15px 0;
}
header .site-logo {
  float: left;
  padding: 10px 0;
}
header .site-logo a{}
header .site-logo a img{
  width: 150px;
}
header .manu-area {
  position: relative;
  float: right;
}
header .manu-area span.menu-button {
  cursor: pointer;
  font-weight: bold;
  height: 32px;
  line-height: 30px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 32px;
  border: 2px solid rgba(255,255,255,.8);
}
header .menu-button.clse::after {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 -4px #fff, 0 4px #fff;
  content: "";
  height: 2px;
  left: 25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  width: 50%;
}
header .menu-button.open::before {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transform: rotate(130deg);
  width: 50%;
}
header .menu-button.open::after {
  background: #fff none repeat scroll 0 0;
  content: "";
  height: 2px;
  left: 25%;
  margin-top: -1px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 50%;
}
header nav.menu {
  position: absolute;
  right: 73px;
  top: 15px;
  white-space: nowrap;
}
header nav.menu ul{}
header nav.menu ul li {
  display: inline-block;
  padding: 0 12px;
}
header nav.menu.open ul li{
  opacity: 1;
  transition: .4s;
  transform: translateY(0px);
  visibility: visible;
}
header nav.menu.open ul li:nth-of-type(1){
  transition: .4s ease .1s
}
header nav.menu.open ul li:nth-of-type(2){
  transition: .4s ease .2s
}
header nav.menu.open ul li:nth-of-type(3){
  transition: .4s ease .3s
}
header nav.menu.open ul li:nth-of-type(4){
  transition: .4s ease .4s
}
header nav.menu.open ul li:nth-of-type(5){
  transition: .4s ease .5s
}
header nav.menu.open ul li:nth-of-type(6){
  transition: .4s ease .6s
}
header nav.menu.open ul li:nth-of-type(7){
  transition: .4s ease .7s
}
header nav.menu.open ul li:nth-of-type(8){
  transition: .4s ease .8s
}
header nav.menu.open ul li:nth-of-type(9){
  transition: .4s ease .9s
}
header nav.menu.open ul li:nth-of-type(10){
  transition: .4s ease 1s
}
  header nav.menu.clse ul li {
    opacity: 0;
    transition: all 0.4s ease 0s;
    transform: translateY(-40px);
    visibility: hidden;
  }
header nav.menu ul li a {
  color: #fff;
  display: inline-block;
}
header.scroll-header .menu-button.open::before,header.scroll-header .menu-button.open::after {
  background: red;
}
header.scroll-header .menu-button.clse::after {
  background: red;
  box-shadow: 0 -4px red, 0 4px red;
}
header.scroll-header .manu-area span.menu-button {
  border: 2px solid red;
}
header.scroll-header nav.menu ul li a {
  color: red;
}
/*----------------------------------------*/
/*  4.  Intro CSS
/*----------------------------------------*/
.intro {
  background: rgba(0, 0, 0, 0) url("img/top-bg.jpg") repeat fixed center center / cover ;
  padding: 100px 0;
  position: relative;
  padding-top: 100px;
}
.intro::before {
  background: red none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  width: 100%;
  content: "";
  top: 0;
  left: 0;
  opacity: .8;
}
.intro .intro-wrapper{}
.intro .intro-wrapper .logo-area{}
.intro .intro-wrapper .logo-area a{}
.intro .intro-wrapper .logo-area a img {}
.intro .intro-wrapper .text-area {
  padding-bottom: 20px;
  padding-top: 36px;
}
.intro .intro-wrapper .text-area h3 {
  font-family: Pacifico;
  font-size: 36px;
  text-transform: capitalize;
}
.intro .intro-wrapper .text-area h1 {
  font-family: open sans;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase;
}
.intro .intro-wrapper .text-area p {
  font-size: 18px;
}
.intro .button-area{}
.intro-btn {
  border-color: #fff;
  border-radius: 45px;
  border-style: solid;
  border-width: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 800;
  height: 46px;
  line-height: 40px;
  padding: 0 40px;
  text-transform: uppercase;
}
.intro-btn:hover {
  background: #D5D3D4 none repeat scroll 0 0;
  color: red;
}
/*----------------------------------------*/
/*  5.  countdown CSS
/*----------------------------------------*/
.offer-countdown {
  background: #66ad44 none repeat scroll 0 0;
  padding: 25px 0;
  color: #fff
}
.countdown-title {}
.countdown-title h2 {
  line-height: 46px;
  margin: 0;
  font-family: pacifico;
  font-size: 32px;
}
.countdown-area {
  margin-left: 40px;
}
.cdown {
  display: inline-block;
  height: 60px;
  margin-right: 8px;
  position: relative;
  text-align: center;
  width: 80px;
}
.time-count {
  display: inline-block;
  font-size: 27px;
  padding-top: 9px;
}
.cdown p {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
.offer-countdown .button-area {
  text-align: right;
}
.offer-countdown .button-area a {
  background: red none repeat scroll 0 0;
  border-color: #fff;
  border-radius: 0;
  border-width: 1px;
  color: #fff;
  line-height: 46px;
  text-align: center;
  border: none;
}
.offer-countdown .button-area a:hover {
  background: #fff none repeat scroll 0 0;
  color: #66ad44;
}
/*----------------------------------------*/
/*  6.  Best service CSS
/*----------------------------------------*/
.section-title{}
.section-title h2 {
  font-family: Pacifico;
  font-size: 40px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.section-title h2 .highlight{color: red}
.service-area{
  padding-top:70px;
}
.service-area .single-service {
}
.service-area .single-service .service-icon {
  background: red none repeat scroll 0 0;
  border: 3px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e5e5e5;
  color: #fff;
  display: inline-block;
  font-size: 70px;
  height: 160px;
  line-height: 160px;
  width: 160px;
}
.service-area .single-service .service-icon.green{
  background: #66ad44
}
.service-area .single-service .service-icon.blue{
  background: #1d84df
}
.service-area .single-service .service-icon.turquoise{
  background: #4FB5A8
}
.service-area .single-service .service-icon.brown{
  background: #5A4830
}
.service-area .single-service .service-icon.olive{
  background: #B3BD43
}

.service-area .single-service .service-icon i{}
.service-area .single-service .service-content {
  padding-top: 30px;
}
.service-area .single-service .service-content .service-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.service-area .single-service .service-content p{}
a.read-more-btn{
  position: relative;
}
a.read-more-btn.red{
  color: red;
}
a.read-more-btn.green{
  color: #66ad44;
}
a.read-more-btn.blue{
  color: #1d84df;
}
a.read-more-btn.turquoise{
  color: #4FB5A8;
}
a.read-more-btn.brown{
  color: #5A4830;
}
a.read-more-btn.olive{
  color: #B3BD43;
}
a.read-more-btn::after {
  content: "\eb55";
  font-family: icofont;
}
/*----------------------------------------*/
/*  7.  Testimonial CSS
/*----------------------------------------*/
.testimonial {
  background: #66ad44 none repeat scroll 0 0;
  color: #fff;
}
.testimonial .testimonial-details {}
.testimonial .testimonial-details .single-testmonial{}
.testimonial .testimonial-details .single-testmonial .testmonial-thumb {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  width: 150px;
  background: #fff;
}
.testimonial .testimonial-details .single-testmonial .testmonial-thumb img{}
.testimonial .testimonial-details .single-testmonial .testmonial-text{}
.testimonial .testimonial-details .single-testmonial .testmonial-text h3 {
  margin: 25px 0 5px;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text .desi {
  display: block;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p {
  display: inline-block;
  font-size: 19px;
  margin-top: 30px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  width: 800px;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p::before {
  color: #fff;
  content: "";
  font-family: icofont;
  font-size: 30px;
  left: -25px;
  position: absolute;
  top: -30px;
}
.testimonial .testimonial-details .single-testmonial .testmonial-text p::after {
  bottom: -24px;
  color: #fff;
  content: "";
  font-family: icofont;
  font-size: 30px;
  position: absolute;
  right: -22px;
}
/*----------------------------------------*/
/*  8.  Featured CSS
/*----------------------------------------*/
.featured{padding-bottom: 0}
.featured .featured-items{
  padding-top: 60px
}
.featured-item {
  margin-bottom: 60px;
}
.featured-item .featured-icon {
  background: #66AD44;
  border-radius: 50%;
  box-shadow: 0 0 0 6px rgba(102, 173, 68, 0.6);
  color: #fff;
  display: inline-block;
  font-size: 56px;
  height: 120px;
  line-height: 120px;
  width: 120px;
}
.featured-item .featured-icon i{}
.featured-item .featured-item-content {
  margin-top: 30px;
}
.featured-item .featured-item-content h3 {
  margin-bottom: 15px;
}
.featured-item .featured-item-content p{}
/*----------------------------------------*/
/*  9.  Featured-product CSS
/*----------------------------------------*/
.featured-product {
  padding-bottom: 0;
}
.featured-products-area {
  padding-top: 40px;
}
.featured-products-area .single-product {
  margin-bottom: 60px;
}
.featured-products-area .single-product .product-thumb {
  display: inline-block;
  width: 230px;
  position: relative;
}
.featured-products-area .single-product .product-thumb img {
  width: 100%;
}
.featured-products-area .single-product .product-thumb img.primary {
  position: absolute;
  top: 0;
  left: 0;
}
.featured-products-area .single-product:hover .primary {
  opacity: 0;
  transition: .4s
}
.featured-products-area .single-product .product-thumb img.secondary{}
.featured-products-area .single-product .product-details{}
.featured-products-area .single-product .product-details h3{}
.featured-products-area .single-product .product-details p{}
.featured-products-area .single-product .product-details .action{}
.featured-products-area .single-product .product-details .action .price{
  font-size: 20px
}
.featured-products-area .single-product .product-details .action .price .current{}
.featured-products-area .single-product .product-details .action .button-area {
  margin-top: 15px;
}
.featured-products-area .single-product .product-details .action .button-area a{}
  /*----------------------------------------*/
  /*  10.  our-product CSS
  /*----------------------------------------*/
.our-product{}
.our-product .products-area {
  padding-top: 60px;
}
.our-product .products-area .single-product {
  overflow: hidden;
  margin-bottom: 70px;
}
.our-product .products-area .single-product .product-thumb {
  width: 50%;
  float: left;
  padding-right: 20px;
}
.our-product .products-area .single-product .product-thumb img{}
.our-product .products-area .single-product .product-details {
  float: left;
  width: 50%;
}
.our-product .products-area .single-product .product-details h3{}
.our-product .products-area .single-product .product-details p{}
.our-product .products-area .single-product .product-details .action{}
.our-product .products-area .single-product .product-details .action .price {
  font-size: 28px;
}
.our-product .products-area .single-product .product-details .action .price .current,
.featured-products-area .single-product .product-details .action .price .current {
  text-decoration: line-through;
  font-size: 16px;
}
.our-product .products-area .single-product .product-details .action .button-area {
  margin-top: 12px;
}
.our-product .products-area .single-product .product-details .action .button-area a,
.featured-products-area .single-product .product-details .action .button-area a {
  border-color: #777;
  border-radius: 4px;
  border-width: 2px;
  color: #333;
  font-weight: 500;
  height: 34px;
  line-height: 30px;
  margin: 0;
  padding: 0 20px;
}
.our-product .products-area .single-product .product-details .action .button-area a:hover,
.featured-products-area .single-product .product-details .action .button-area a:hover{
  background: #444;
  color: #fff;
}
/*----------------------------------------*/
/*  11.  FAQ CSS
/*----------------------------------------*/
.faq-items {
  padding-top: 60px;
}
.faq-items .panel-heading {
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 0;
}
.faq-items .panel-group .panel {
  border-radius: 0;
  margin-bottom: 10px;
}
.faq-items .panel-title a {
  background: #66ad44 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 12px 15px;
  position: relative;
  text-transform: capitalize;
}
.faq-items .panel-title a.collapsed{position: relative}
.faq-items .panel-title a.collapsed::before {
  color: #fff;
  content: "\f0a5";
  position: absolute;
  right: 6px;
  top: 10px;
  font-family: icofont;
  font-size: 15px;
}
.faq-items .panel-title a::before {
  color: #fff;
  content: "";
  font-family: icofont;
  font-size: 16px;
  position: absolute;
  right: 7px;
  top: 10px;
  z-index: 9;
}
.panel-default {
  border-color: #66AD44;
}
/*----------------------------------------*/
/*  12.  Footer CSS
/*----------------------------------------*/
footer {
  background: red;
  padding: 30px 0;
}
.footer-logo{}
.footer-logo a {
  display: inline-block;
  width: 100px;
}
.footer-logo a img{}
  .footer-social-icon {
    padding: 15px 0;
  }
.footer-social-icon a {
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 30px;
  border-radius: 2px;
  margin: 0 1px;
}
.copyright-text{}
.copyright-text span {
  color: rgba(255,255,255,.9);
}
.copyright-text span a {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.copyright-text span a:hover {
  color: rgba(255,255,255,.8);
}
/*----------------------------------------*/
/*  12.  Index-menu CSS
/*----------------------------------------*/
.index-menu .owl-theme .owl-controls .owl-page span {
  background: #fff;
  border-radius: 0;
  height: 10px;
  margin: 5px 5px;
  width: 10px;
}
.index-menu .testimonial-carousel {
  padding-top: 40px;
}
.index-menu .service-area .single-service {
  margin-bottom: 60px;
}
.index-menu .intro {
  padding-top: 140px;
}
